#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  overflow: hidden;
  width: 51px;
  height: 51px;
  border: none;
  text-indent: 100%;
  background: url(images/arrow-up.png) no-repeat left top;
}

#toTopHover {
  background: url(images/arrow-up.png) no-repeat left -51px;
  width: 51px;
  height: 51px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

#toTop:active,
#toTop:focus {
  outline: none;
}

/* 100 – Thin || Hairline
200 – Extra Light || Ultra Light || Thin
300 – Light
400 – Normal || Regular
500 – Medium
600 – Semi Bold || Demi Bold
700 – Bold
800 – Extra Bold || Ultra Bold || Heavy
900 – Black || Heavy

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" <slant>;
}

.source-sans {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

html {
  width: 100%;
  height: 100vh;
  display: block;
  background-color: #f5f7ff;
}

a {
  text-decoration: none;
}

/* HEADER */ /* HEADER */ /* HEADER */ /* HEADER */
header {
  background: linear-gradient(
    180deg,
    rgb(225 234 255) 0%,
    rgba(238, 242, 255, 0) 100%
  );
  padding: 60px 210px 0 210px;
}

.header-line {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 75px;
}

.header-logo {
  position: absolute;
  left: 0;
}

.logo {
  width: 40px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav {
  position: absolute;
  padding: 0 250px 0 310px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  margin-right: 64px;
}

.nav-item__1 {
  font-size: 30px;
  font-weight: 800;
  text-align: left;
}

.nav-link {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  color: #0c1b4d;
}

.nav-link::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  border-radius: 10px;
  bottom: -3px;
  width: 0;
  height: 3px; /* Высота линии */
  background-color: #6589a6; /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.4s; /* Время эффекта */
}

.nav-link:hover::before {
  content: "";
  width: 55%;
  display: block;
  position: absolute;
  right: 0;
  border-radius: 10px;
  bottom: -3px;
  height: 3px; /* Высота линии */
  background-color: #6589a6; /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s; /* Время эффекта */
}

.nav-link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  border-radius: 10px;
  bottom: -3px;
  width: 0;
  height: 3px; /* Высота линии */
  background-color: #6589a6; /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.4s; /* Время эффекта */
}

.nav-link:hover:after {
  content: "";
  width: 55%;
  display: block;
  position: absolute;
  left: 0;
  border-radius: 10px;
  bottom: -3px;
  height: 3px; /* Высота линии */
  background-color: #6589a6; /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5; /* Время эффекта */
}
/* BUTTON */ /* BUTTON */ /* BUTTON */ /* BUTTON */

.nav-button {
  position: absolute;
  right: 0;
}

.button {
  cursor: pointer;
  color: #f4f7ff;
  background-color: #4a72ff;
  border-radius: 6px;
  border: none;
  padding: 10px 28px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0px 30px 60px 0px #4a72ff40;
  transition: none;
}

.button:hover {
  background-color: transparent;
  color: #4a72ff;
  border: 2px dashed #226fbe;
}
/* HEADER__MAIN */ /* HEADER__MAIN */ /* HEADER__MAIN */

.header__main {
  position: relative;
  margin-top: 120px;
}

.header__main__bars {
  display: flex;
}

.header__main__right-bar {
  position: absolute;
  right: 0;
  width: 500px;
  height: 490px;
  background-image: url(images/header__messenger.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.title-top {
  color: #4a72ff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-bottom: 15px;
}

.hm__l-b__title {
  font-family: DM Sans;
  font-size: 46px;
  line-height: 44px;
  color: #0c1b4d;
  padding-bottom: 15px;
}

.hm__l-b__subtitle {
  font-size: 20px;
  line-height: 30px;
  color: #0c1b4d99;
  padding-bottom: 30px;
}

.hm__l-b__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}

.hm__l-b__btn1 {
  align-self: center;
  padding-right: 20px;
}

.hm__btn {
  padding: 12px 38px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.63px;
}

.hm__btn1 {
  padding: 12px 50px;
}

.hm__btn2 {
  background: #4a72ff0d;
  color: #4a72ff;
  box-shadow: none;
}

.total-quantity {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.total__downloads {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 42px;
  border-right: #0c1b4d15 solid 1px;
}

.total__image {
  width: 52px;
  height: 52px;
}

.total__users {
  padding-left: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.total__dl_text {
  font-family: inter;
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: 0.1em;
  color: #0c1b4d99;
}

.total__dl_number {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  color: #0c1b4d;
}

.header__main__footer {
  border-radius: 15px;
  background: #4a72ff10;
  margin-top: 100px;
  padding: 60px 80px;
}

.hm__footer-companys_line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.companys {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company {
  padding-right: 80px;
}

.stop__padding-right {
  padding-right: 0;
}

/* UTF */ /* UTF */ /* UTF */ /* UTF */ /* UTF */
/* UTF */ /* UTF */ /* UTF */ /* UTF */ /* UTF */

.UTP {
  max-height: max-content;
  padding: 100px 210px;
  background: radial-gradient(
    circle,
    rgba(226, 234, 255, 1) 0%,
    rgba(236, 241, 255, 1) 30%,
    rgba(242, 246, 255, 1) 54%,
    rgba(244, 247, 255, 1) 60%,
    rgba(245, 247, 255, 1) 100%
  );
}

.utp-title {
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.utp-title__line1 {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #0c1b4d;
}

.utp-title__line2 {
  font-family: DM Sans;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #0c1b4d;
}

.utp-title__line3 {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(12, 27, 77, 0.6);
}

.utp-blocks {
  display: flex;
  flex-direction: row;
}

.utp-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  transition: 0.4s linear;
}

.utp-block:hover {
  scale: 1.1;
}

.utp-images {
  height: 170px;
}

.utp__title {
  font-family: DM Sans;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: rgba(12, 27, 77, 1);
  padding: 40px 0 10px 0;
}

.utp__content {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(12, 27, 77, 0.6);
}

main {
  padding: 0 210px;
  background-color: #f5f7ff;
}

.main-bars {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  border-top: rgba(12, 27, 77, 0.1) solid 2px;
}

.main-bar__left {
  width: 50%;
  height: 880px;
  background-image: url(images/phones__messenger.png);
}

@media (prefers-reduced-motion: no-preference) {
  .main-bar__left {
    animation: small_pulse 1.5s infinite;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .list__links,
  .soc-net__icon,
  #toTop {
    animation: medium_pulse 2.5s infinite;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .emoji-image {
    animation: big_pulse 1.5s infinite;
  }
}

@keyframes small_pulse {
  50% {
    transform: scale(1.025);
  }
}

@keyframes medium_pulse {
  50% {
    transform: scale(1.1);
  }
}

@keyframes big_pulse {
  50% {
    transform: scale(1.2);
  }
}

.main-bar__right {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-bar__right_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  position: relative;
}

.main-bar_first-title {
  left: 0;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  line-height: 17.6px;
  letter-spacing: 0.1em;
  padding: 30px 0 10px 0;
  color: rgba(12, 27, 77, 1);
}

.main-bar_title {
  padding: 60px 0 10px 0;
  font-family: DM Sans;
  font-size: 28px;
  line-height: 42px;
  color: rgba(12, 27, 77, 1);
}

.main-bar_content {
  font-size: 16px;
  line-height: 26px;
  color: rgba(12, 27, 77, 0.6);
}

.main-bar__right_emoji-text {
  padding-top: 40px;
}

.main-emoji_stroke {
  display: flex;
  padding-bottom: 40px;
}

.main-emoji__image {
  background-color: rgba(12, 27, 77, 0.1);
  border-radius: 6px;
  padding: 14px;
  height: 33px;
}

.main-emoji-content {
  padding-left: 25px;
}

.emoji-image {
  transition: 0.5s cubic-bezier(0, 1.44, 1, 1.01);
}

.emoji-image:hover {
  animation: hover 0.6s;
}

@keyframes hover {
  50% {
    transform: scale(1.4);
  }
}

.main-emoji_title {
  font-family: DM Sans;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 23.44px;
  text-align: left;
  color: #000000;
}

.main-emoji_content {
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: rgba(12, 27, 77, 0.6);
}

/* OFFER */ /* OFFER */ /* OFFER */ /* OFFER */

.offer {
  padding: 100px 195px;
  background-color: #f5f7ff;
}

.offer-main {
  position: relative;
  padding: 0 150px;
  max-height: 540px;
  background-color: #4a72ff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 30px 60px 0px rgba(74, 114, 255, 0.25);
  border: none;
  transition: border 0.7s cubic-bezier(0, 1.44, 1, 1.01);
}

.offer-main:hover {
  border: #6788ff solid 15px;
}

.offer-main:not(:hover) {
  border: 1px solid #4a72ff;
}

.offer_content {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.6);
  padding: 100px 20px 100px 0;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}

.offer_content__list {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  padding: 10px 0 40px 0;
}

.offer_content-ul {
  padding-inline-start: 25px;
}

.offer-text {
  color: #ffffff;
}

.offer_subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 17.6px;
  letter-spacing: 0.1em;
  text-align: left;
}

.offer_title {
  font-family: DM Sans;
  font-size: 28px;
  line-height: 42px;
  text-align: left;
}

.offer-links {
  display: flex;
  flex-direction: row;
}

.offer-link_store {
  width: 150px;
  height: 46px;
  transition: 0.5s linear;
}

.offer-link_store:hover {
  scale: 1.05;
}

.offer-link__appstore {
  padding-right: 15px;
}

.offer-image {
  position: absolute;
  right: 0;
  width: 480px;
  height: 600px;
}

.offer-image_img {
  width: 330px;
  height: 540px;
}

/* FAQ */ /* FAQ */ /* FAQ */ /* FAQ */

.FAQ {
  padding: 100px 210px;
  background-color: #f5f7ff;
  height: max-content;
}
.FAQ-main {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  height: max-content;
  position: relative;
}
.FAQ__text {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.FAQ__subtitle {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 17.6px;
  padding-bottom: 15px;
  letter-spacing: 0.1em;
  color: rgba(12, 27, 77, 1);
}

.FAQ__title {
  font-family: DM Sans;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  padding-bottom: 10px;
  color: rgba(12, 27, 77, 1);
}

.FAQ__content {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(12, 27, 77, 0.6);
}

.size-up__animation {
  animation: size-up 5s 1;
}
@keyframes size-up {
  50% {
    transform: scale(1.5);
  }
}

.faq {
  width: 700px;
}

details {
  width: 640px;
  padding: 20px 30px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
  border-radius: 5px;
  border-bottom: solid 2px rgba(12, 27, 77, 0.1);
  transition: 0.32s cubic-bezier(0.11, -0.12, 0.94, 1.11);
}

details:hover {
  background-color: #6788ff;
  summary {
    color: #ffffff;
  }
}

summary {
  color: rgba(12, 27, 77, 1);
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.44px;
  text-align: left;
  cursor: pointer;
  position: relative;
}

details[open] {
  background-color: rgba(74, 114, 255, 1);
  border-radius: 6px;
  box-shadow: 0px 30px 60px 0px rgba(74, 114, 255, 0.25);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;

  summary {
    color: rgba(255, 255, 255, 1);
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
}

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none;
}
/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}

/* Добавляем собственный маркер для закрытого состояния */
details summary::after {
  content: url(images/Vector.svg);
  position: absolute;
  right: 0;
  margin-right: 5.4spx;
}

/* Добавляем собственный маркер для открытого состояния */
details[open] summary:after {
  content: url(images/chevron-down.svg);
  margin-right: 0;
}

/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */

footer {
  padding: 100px 210px 0 210px;
  background-color: #f5f7ff;
  height: max-content;
}

.footer-main {
  padding: 80px 80px 40px 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(74, 114, 255, 0.05);
  border-radius: 10px;
}

.footer__desc {
  display: flex;
  flex-direction: column;
}

.desc__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.title__content {
  padding-left: 10px;
}

.footer__title {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 23.44px;
  color: rgba(0, 0, 0, 1);
}

.footer__content {
  padding: 22px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: rgba(12, 27, 77, 0.6);
}

.desc__copyrighter {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: rgba(12, 27, 77, 0.6);
}

.footer-list__ul {
  margin-block-start: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.list__ul_title {
  padding-bottom: 15pxs;
}

.list__links {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 0;
  color: rgba(12, 27, 77, 0.6);
  transition: 0.5s linear;
}

.list__links:hover {
  scale: 1.1;
}

.list__links:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  border-radius: 10px;
  bottom: -3px;
  width: 0;
  height: 3px; /* Высота линии */
  background-color: #6589a6; /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s; /* Время эффекта */
}

.list__links:hover:after {
  content: "";
  width: 98%;
  display: block;
  position: absolute;
  left: 0;
  border-radius: 10px;
  bottom: -3px;
  height: 3px; /* Высота линии */
  background-color: #6589a6; /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5; /* Время эффекта */
}

.footer__soc-net {
  display: flex;
  flex-direction: column;
}

.soc-net__icons {
  display: flex;
  flex-direction: row;
}

.soc-net__icon {
  background-color: rgba(12, 27, 77, 0.1);
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 6px;
  margin-right: 10px;
  transition: 0.3s linear;
}

.soc-net__icon:hover {
  scale: 1.1;
  border: #63656c solid 1px;
}

.twitter__icon {
  margin-right: 0px;
}
